/* -- Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration-line: none;
    box-sizing: border-box;
}
/* -- HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}
body {
	line-height: 1;
    box-sizing: border-box;
}
ol, ul{
	list-style: none;
}
blockquote, q{
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
	content: '';
	content: none;
}
table{
	border-collapse: collapse;
	border-spacing: 0;
}

/* -- 폰트 관련 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css");
body{
    font-family: 'pretendard-dynamic-subset','Inter';
    color: #fff;
}
p, span{
    /* -- transform을 주면 외곽을 부드럽게 만드는 앤티앨리어싱 효과 */
    transform: rotate(0.01deg); 
}

/* -- 기본 스크롤 숨기기, 섹션 스냅 관련 */
html{
    overflow-y: scroll;
    scroll-snap-type: block mandatory;
    scroll-behavior: smooth;

    overscroll-behavior-y: none; /* -- 크롬 브라우저 버그 해결을 위한 필수 속성 */

    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}
section{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* -- a 리셋 */
a:link, a:visited, a:active{
    color: #fff;
}

/* -- 공통 레이아웃 관련 */
html{
    overflow-x: hidden;
    background-color: #101010;
}
html, body, main{
    height: 100%;
}
::selection{
    background-color: #fff;
    color: #101010;
}

/* -- 헤더 관련*/
header{
    background-color: #101010;

    height: 80px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    transition: 0.3s ease-in-out;
}
header > a{
    width: 120px;
    height: 20px;
    transition: 0.3s ease;
}
header > a > i{
    /* -- 헤더 로고 */
    display: block;
    width: 120px;
    height: 20px;
    background-image: url(./res/ic_logo.svg.svg);
    transition: 0.3s ease-in-out;
    opacity: 0;
}
header > a:hover{
    margin-left: 0;
    margin-bottom: 5px;
}

/* -- 화살표 버튼 관련 */
#tothebottom{
    position: fixed;
    right: 24px;
    bottom: 26px;
    transition: 1s ease-in-out;
}
.ani-bounce {
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-12px) scale(0.9, 1.2);}
    60% {transform: translateY(-6px) scale(0.9, 1.2);}
}

/* -- 모달 팝업 호출 버튼 관련 */
/* -- 스타일초기화 */
header > input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
header > input::-ms-clear{
    display: none;
}
/* -- 모달 팝업 호출 버튼 디자인 */
input#btn-nav-layer{
    z-index: 200;
}
input[id=btn-nav-layer]:checked~#box-nav-layer{
    top: 0;

    /* -- 팝업이 내려오는 속도 */
    transition: 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
header > input[id=btn-nav-layer]{
    display: none;
}
label[for=btn-nav-layer]{
    position: relative;
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 200;
}
label[for=btn-nav-layer] span{
    display: inline-block;
    position: absolute;
    background-color: #fff;
    transition: 0.55s cubic-bezier(0.22, 0.61, 0.36, 1);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
label[for=btn-nav-layer] span:nth-child(1){
    width: 38px;
    height: 1.5px;
}
label[for=btn-nav-layer] span:nth-child(2){
    width: 1.5px;
    height: 20px;
}
label:hover > span:nth-child(1){
    width: 42px;
}
label:hover > span:nth-child(2){
    height: 24px;
}
input[id=btn-nav-layer]:checked+label span:nth-child(1){
    width: 20px;
    height: 1.5px;
    transform: translate(-50%, -50%) rotate(.625turn);
}
input[id=btn-nav-layer]:checked+label span:nth-child(2){
    width: 1.5px;
    height: 20px;
    transform: translate(-50%, -50%) rotate(.625turn);
}

/* -- 모달 팝업 관련 */
#box-nav-layer{
    position: absolute;
    width: 100%;
    height: 90vh;
    top: -90vh;
    left: 0;
    background-color: rgba(30, 30, 30, 0.98);

    /* -- 팝업이 올라가는 속도 */
    transition: 0.3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
#box-nav-layer ul{
    justify-content: center;
    align-items: center;

    width: fit-content;
    max-width: 380px;
}
#box-nav-layer li{
    margin: 0 20px;
    list-style: none;
    font-size: clamp(30px, 5vh, 60px);
    /* -- 반응형 폰트 크기 */
    /* -- vw example */
    /* -- (2vw * 1024px) / 100 = 20.48(px) */
    /* -- (20.48px * 100) / 1024px = 2(vw) */
    
    display: flex;
    align-items: center;
}
#box-nav-layer li > a{
    color: #fff;
    line-height: 1.5;
    position: relative;
}
#box-nav-layer li > a:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    left: 0;
    bottom: 6px;
    background-color: #fff;
    transition: 0.12s ease-in;
}
#box-nav-layer li > a:hover:after{
    width: 100%;
}
#box-nav-layer li > a.nowhiring:hover{
    color: #ffC062;
    transition: 0.3s ease-in-out;
}
#box-nav-layer li > a.nowhiring:hover:after{
    background-color: #ffC062;
}

/* -- 채용 중 뱃지 관련 */
#nowhiring{
    font-size: clamp(12px, 1.4vw, 16px);
    font-weight: 800;
    color: #101010;
    background-color: #ffC062;
    padding: 4px 10px 3px 10px; 
    left: 8px;
    border-radius: 100px;
    transition: 0.3s ease-in-out;
    position: relative;
    
    animation: 3s linear infinite ringing_effect;
    }
    @keyframes ringing_effect {
        0%, 12%, 100% {transform: rotate(0deg);}
        11% {transform: rotate(3.0deg);}
        15% {transform: rotate(-4.0deg);}
        20% {transform: rotate(0deg);}
}
#nowhiring::after{
    content:'23\' 신입사원 채용 중\A(11/16~11/30)';
    font-size: clamp(10px, 1vw, 13px);
    font-weight: 500;
    line-height: 1.2;
    color: #ffC062;
    opacity: 80%;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    text-align: right;

    width: 101%;
    margin-top: 8px;
    left: 0;
    right: 0;
}

/* -- 섹션 공통 레이아웃 관련 */
main > section{
    height: 100%;
    display: flex;
    
    justify-content: left;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    opacity: 0;
    transition: all 2.2s;

    margin-bottom: 1px;
}
.container{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #fff;

    display: flex;
    overflow: hidden;
}
.column-num{
    padding: 112px 0 0 0;
    width: 11vw;
    min-width: 53px;
    max-width: 104px;
    height: 100%;
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
    
    transition: 0.3s ease;
}
.column-body{
    padding-top: 80px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column; /* -- 600px 초과에서 row으로 변경*/
    justify-content: left;
}
.web-single{
    position: relative;

    width: 100%;
    height: 100%;
}
.web-left{
    border-bottom: 1px solid #fff;
    position: relative;

    width: 100%; /* -- 600px 초과에서 width, height 비율 전환 */
    height: 50%;
}
.web-left::after{
    content: '';
    width: 1px;
    background-color: #fff;
    height: 80px;
    position: absolute;
    top: -80px;
    right: -1px;
}
.web-right{
    width: 100%;
    height: 50%;
}
.body-wrap{
    padding: 32px 20px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    transition: 0.3s ease;
}
.vertical-blank{
    width: 1px;
    background-color: #fff;
    height: auto;
    flex-grow: 1;
}
/* -- 섹션 공통 텍스트 스타일 관련 */
.column-num > .title,
.body-wrap > .title{
    font-size: clamp(12px, 1.8vw, 24px);
    font-weight: 600;
    line-height: 1.65;
    color: #b0b0b0;

    margin-bottom: 8px;
}
.body-wrap{
    font-size: clamp(13px, 1.95vw, 26px);
    line-height: 1.5;
    color: #f5f5f5;
}
.body-wrap > strong, .bizline-strong{
    font-size: clamp(16px, 2.4vw, 32px);
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.5px;
    display: block;

    margin-bottom: 8px;
}
.column-num > p,
.body-wrap > p{
    font-weight: 200;
    letter-spacing: -0.5px;
    margin-bottom: 8px;
    position: relative;
}
.body-wrap > p.dot{
    font-size: clamp(11px, 1.2vw, 16.5px);
    font-weight: 100;
    letter-spacing: 0.2px;
    padding-left: 18px;
}
.body-wrap > p.dot::after{
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -55%);
    background-image: url(res/ic_deco_blink.svg);
    background-size: 12px;
}
/* -- 섹션 공통 컴포넌트 관련 */
button{
    background-color: #101010;
    color: #fff;
    border: 1px solid #fff;
    font-size: clamp(16px, 1.92vw, 19.2px);
    font-weight: 600;
    letter-spacing: -0.5px;
    padding: 14px 18px;
    width: fit-content;
    cursor: pointer;
    margin-top: 2px;
}

/* -- 섹션 1 디자인 */
#section1{
    padding: 0;
    overflow: hidden;
}
#section1 > div{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f5f5f5;
    padding: 1vh 4vw;
    transition: 0.3s ease-in-out;
}
#section1 > div:nth-child(1),
#section1 > div:nth-child(3){
    animation: spacing-r 9s 4s infinite;
}
#section1 > div:nth-child(2){
    animation: spacing-l 9s 4s infinite;
}
@keyframes spacing-r{
    0%, 100% {}
    40% {padding-right: 10vw;}
}
@keyframes spacing-l{
    0%, 100% {}
    40% {padding-left: 25vw;}
}
@keyframes spacing-r-web{
    0%, 100% {}
    40% {padding-right: 60vw;}
}
@keyframes spacing-l-web{
    0%, 100% {}
    40% {padding-left: 60vw;}
}
@media (min-width:1400px){
    #section1 > div:nth-child(1),
    #section1 > div:nth-child(3){
        animation: spacing-r-web 9s 4s infinite;
    }
    #section1 > div:nth-child(2){
        animation: spacing-l-web 9s 4s infinite;
    }
}
#section1 > div:nth-of-type(3){
    padding-right: 0;
}
#section1 > div > span{
    font-size: clamp(40px, 14vw, 90px);
    font-weight: 300;
    display: inline;
    opacity: 0;
    transition: 0.1s ease;
}
#section1 > div > span:last-child{
    position: relative;
}
#section1 > div > span:last-child::after{
    content: '';
    width: 36px;
    height: 36px;
    background-image: url(./res/ic_deco_blink.svg);

    position: absolute;
    left: 12vw;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 한 글자씩 등장 */
#section1 > div > span.delay-1{
    animation: opacity 2s 0.1s forwards;
}
#section1 > div > span.delay-3{
    animation: opacity 2s 0.3s forwards;
}
#section1 > div > span.delay-5{
    animation: opacity 2s 0.5s forwards;
}
#section1 > div > span.delay-7{
    animation: opacity 2s 0.7s forwards;
}
#section1 > div > div > div,
#section1 > div > span.delay-9{
    animation: opacity 2s 0.9s forwards;
}
@keyframes opacity{
    0% {opacity: 0;}
    100% {opacity: 1;}
} /* 끝 */
#section1 > div > span.hidden{
    color: #101010;
    opacity: 1;
}
#section1 > div > #acro-ko{
    font-size: 12px;
    display: inline;
    width: auto;

    border: 1px solid #fff;
    background: #101010;
    padding: 5px 10px 4px 10px;
    position: absolute;
    z-index: 1;

    right: 4vw;
    top: -12px;
}
#section1 > div:last-child{
    border-bottom: 1px solid #fff;
    padding: 0 0 0 4vw;
    justify-content: left;
}
#section1 > div > ul{
    background-color: #fff;
    padding: 6px 16px;
}
#section1 > div > ul > li{
    margin: 10px 0; 
    cursor: pointer;
    position: relative;
    display: flex;
}
#section1 > div > ul > li > a{
    color: #101010;
    font-size: 18px;
    font-weight: 800;
    position: relative;
}
#section1 > div > ul > li > a:hover{
    margin-left: 0px;
}
#section1 > div > ul > li > a:link,
#section1 > div > ul > li > a:visited,
#section1 > div > ul > li > a:active{
    color: #101010;
}
#section1 > div > ul > li > a:after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -1px;
    background-color: #101010;
    transition: 0.12s ease-in;
}
#section1 > div > ul > li > a:hover:after{
    width: 100%;
}
#section1 > div > div{
    padding: 15px 0 0 20px;
    font-size: 15px;
    position: relative;
}
#section1 > div > div > p:first-child{
    font-weight: 100;
    margin-bottom: 4px;
}
#section1 > div > div > div{
    width: 74px;
    height: 74px;
    position: absolute;
    bottom: 18px;
    overflow: hidden;
    transition: 0.5s ease;
    opacity: 0;
}
#section1 > div > div > div > img:nth-of-type(2){
    width: 74px;
    height: 74px;
    background-image: url("./res/ic_logo_circle_band.svg");
    position: absolute;
    top: 0;
    left: 0;
    
    animation: logo_circle 30s linear infinite;
    transition: 1s ease-in-out;
    transform-origin: 50% 50%;
    }
    @keyframes logo_circle {
        0%{transform: rotate(0deg);}
        100%{transform: rotate(360deg);}
    }

#section1 > div > div > div > img:nth-of-type(2):hover{
    animation-duration: 0.66s;
}

/* -- 섹션 2 디자인 */
#section2 > .container{
    border-top: 1px solid #fff;
}
/* -- 섹션 3 디자인 */
.partner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.partner-row{
    display: flex;
    flex: 1;
}
.partner-row > div{
    flex: 1;
}
.partner-row > div > i{
    display: block;    
    background-repeat: no-repeat;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 100%;
    transition: 0.6s ease;
}
.partner-row:nth-of-type(1) > div:nth-of-type(1) > i{
    background-image: url(res/partner/img_logo_lg.svg);
    width: 55px;
    height: 24px;
    transition-delay: 0;
}
.partner-row:nth-of-type(1) > div:nth-of-type(2) > i{
    background-image: url(res/partner/img_logo_samsung.svg);
    width: 79px;
    height: 26px;
    transition-delay: 0.05s;
}
.partner-row:nth-of-type(2) > div:nth-of-type(1) > i{
    background-image: url(res/partner/img_logo_kt.svg);
    width: 28px;
    height: 22px;
    transition-delay: 0.1s;
}
.partner-row:nth-of-type(2) > div:nth-of-type(2) > i{
    background-image: url(res/partner/img_logo_hyundai.svg);
    width: 102px;
    height: 14px;
    transition-delay: 0.15s;
}
.partner-row:nth-of-type(3) > div:nth-of-type(1) > i{
    background-image: url(res/partner/img_logo_adobe.svg);
    width: 33px;
    height: 44px;
    transition-delay: 0.2s;
}
.partner-row:nth-of-type(3) > div:nth-of-type(2) > i{
    background-image: url(res/partner/img_logo_sk.svg);
    width: 78px;
    height: 30px;
    transition-delay: 0.25s;
}

/* -- 섹션 4 디자인 */
.bizline{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    transition: 0.3s ease;
}
.bizline-row,
.bizline-col{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
}
.bizline-col{
    flex-direction: column;
}
.bizline-strong{
    margin: 20px 0 0 20px;    
    transition: 0.3s ease;
}
.bizline-row.large{
    border-top: 1px solid #fff;
}
.bizline-col{
    border-right: 1px solid #fff;
}
.bizline-col:last-child{
    border-right: unset;
}
.bizline-row.medium{
    border-bottom: 1px solid #fff;
}
.bizline-row.medium:last-child{
    border-bottom: unset;
}
.bizline-col.large{
    position: relative;
}
.bizline-hover:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.bizline-img-1::after{
    content: '';
    width: 108px;
    height: 108px;
    background-image: url(res/img_bizline_1.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    position: absolute;
    right: 11px;
    bottom: 11px;

    transition: 0.4s ease;
}
.bizline-img-2::after{
    content: '';
    width: 108px;
    height: 108px;
    background-image: url(res/img_bizline_2.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    position: absolute;
    right: 11px;
    bottom: 11px;

    transition: 0.4s ease;
}
.bizline-img-3::after{
    content: '';
    width: 116px;
    height: 120px;
    background-image: url(res/img_bizline_3.svg);
    background-repeat: no-repeat;
    background-size: 100%;

    position: absolute;
    right: 11px;
    bottom: 11px;

    transition: 0.4s ease;
}
.bizline-img-1:hover::after,
.bizline-img-2:hover::after,
.bizline-img-3:hover::after{
    background-size: 90%;
    right: 2px;
    bottom: 2px;
}


/* -- 반응형 */
@media (max-width: 359px){
    /* -- 모달 팝업 관련 */
    #box-nav-layer li{
        font-size: clamp(28px, 4vh, 40px);
    }
    /* -- 섹션 1 디자인 관련 */
    #section1 > div > span.hidden{
        display: none;
    }
}
@media (max-width: 599px){
    /* -- 섹션 1 디자인 관련 */
    #section1 > div > span.hidden{
        display: none;
    }
}
@media (min-width: 600px){
    /* -- 모달 팝업 관련 */
    #box-nav-layer li{
        font-size: clamp(28px, 5vh, 50px);
    }
    /* -- 섹션 공통 레이아웃 관련 */
    .column-body{
        flex-direction: row; /* -- 600px 미만에서 column으로 변경*/
    }
    .web-left{
        border-bottom: unset;
        border-right: 1px solid #fff;

        width: 50%; /* -- 600px 미만에서 width, height 비율 전환 */
        height: 100%;
    }
    .web-right{
        width: 50%;
        height: 100%;
    }
    .vertical-blank{
        flex-grow: unset;
        height: 40px;
    }
    /* -- 섹션 공통 텍스트 스타일 관련 */
    .column-num > .title,
    .body-wrap > .title,
    .body-wrap > strong, .bizline-strong,
    .column-num > p, .body-wrap > p{
        margin-bottom: 12px;
    }
    /* -- 섹션 3 디자인 관련 */
    .partner-row:nth-of-type(1) > div:nth-of-type(1) > i{
        width: 82.5px;
        height: 36px;
    }
    .partner-row:nth-of-type(1) > div:nth-of-type(2) > i{
        width: 118.5px;
        height: 40px;
    }
    .partner-row:nth-of-type(2) > div:nth-of-type(1) > i{
        width: 42px;
        height: 33px;
    }
    .partner-row:nth-of-type(2) > div:nth-of-type(2) > i{
        width: 153px;
        height: 21px;
    }
    .partner-row:nth-of-type(3) > div:nth-of-type(1) > i{
        width: 49.5px;
        height: 66px;
    }
    .partner-row:nth-of-type(3) > div:nth-of-type(2) > i{
        width: 117px;
        height: 45px;
    }
    /* -- 섹션 4 디자인 관련 */
    .bizline-img-1::after{
        width: 162px;
        height: 162px;
    }
    .bizline-img-2::after{
        width: 162px;
        height: 162px;
    }
    .bizline-img-3::after{
        width: 174px;
        height: 180px;
    }
}
@media (min-width: 1000px){
    /* -- 모달 팝업 관련 */
    #box-nav-layer li{
        font-size: clamp(28px, 6vh, 60px);
    }
    .column-num{
        padding-top: 128px;
    }
    .body-wrap{
        padding: 48px 30px 30px 30px;
    }
    /* -- 섹션 공통 텍스트 스타일 관련 */
    .column-num > .title,
    .body-wrap > .title,
    .body-wrap > strong, .bizline-strong,
    .column-num > p, .body-wrap > p{
        margin-bottom: 16px;
    }
    /* -- 섹션 4 디자인 관련 */
    .bizline-strong{
        margin: 30px 0 0 30px;
    }
    .bizline{
        height: calc(100% - 90px);
    }
}
@media (min-width: 1600px){
    .column-num{
        padding-top: 144px;
    }
    .body-wrap{
        padding: 64px 40px 40px 40px;
    }
    /* -- 섹션 공통 텍스트 스타일 관련 */
    .column-num > .title,
    .body-wrap > .title,
    .body-wrap > strong, .bizline-strong,
    .column-num > p, .body-wrap > p{
        margin-bottom: 24px;
    }
    /* -- 섹션 4 디자인 관련 */
    .bizline-strong{
        margin: 30px 0 0 40px;
    }
    .bizline{
        height: calc(100% - 120px);
    }
}
@media (min-height: 700px){
    /* -- 섹션 공통 레이아웃 관련 */
    .vertical-blank{
        flex-grow: unset;
        height: 40px;
    }
}
@media (max-height: 700px){
    /* -- 섹션 4 디자인 관련 */
    .bizline-img-1::after{
        width: 81px;
        height: 81px;
    }
    .bizline-img-2::after{
        width: 81px;
        height: 81px;
    }
    .bizline-img-3::after{
        width: 87px;
        height: 90px;
    }
}